.container {
	max-width: 428px;
	margin: 30px 10px;
}

.img {
	height: 280px;
	object-fit: cover;
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
	margin: 20px 0;
	padding: 0;
}

.headline {
	margin: 30px 0;
	font-size: clamp(1.125rem, 0.885rem + 1.2vw, 1.575rem);
}

.paragraph {
	font-size: clamp(0.875rem, 0.715rem + 0.8vw, 1.075rem);
	margin: 10px 20px;
	line-height: 25px;
}

@media only screen and (max-width: 900px) {
	.container {
		max-width: none;

		/* margin: 30px 10px 20px; */
	}
}
/* @media only screen and (max-width: 500px) {
	.container {
		max-width: none;
		height: 60vh;
	
		margin: 50px 10px 0px;
	}
	.paragraph {
		margin: 20px 20px 0px;
		font-size: 13px;
		line-height: 17px;
	}
}
@media only screen and (max-width: 430px) {
	.container {
		margin: 50px 10px 40px;
	}
}
@media only screen and (max-width: 380px) {
	.container {
		margin: 50px 10px 60px;
	}
}
@media only screen and (max-width: 320px) {
	.container {
		margin: 50px 10px 40px;
	}
}
@media only screen and (max-width: 300px) {
	.container {
		margin: 50px 10px 120px;
	}
} */
