.section {
	max-width: 1320px;
	width: 90vw;
	margin: 40px auto;
	text-align: center;
}

.approach {
	width: clamp(50vw, 55vw, 60vw);
	font-size: clamp(0.8rem, 0.88rem + 0.6vw, 1.25rem);
	text-align: center;
	margin: 40px auto;
}

.approachH2 {
	font-size: clamp(1.5625rem, 1.2625rem + 1.5vw, 2.5rem);
	margin: 20px 0 35px;
}

.approachP {
	margin: 15px 0;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-grow: 1;
}
@media only screen and (max-width: 1050px) {
	.approach {
		width: 95%;
		text-align: center;
	}
	.container {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
}
