.homePagePicture {
	width: 100vw;
	height: 85vh;
	background-image: url(../../public/homePagePicture.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	overflow: hidden;
	color: #fff;
}
.headlines {
	font-size: clamp(1.25rem, 0.88rem + 0.6vw, 2.25rem);
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	padding: 1rem;
	width: 70vw;
	text-align: center;
}

.headline1 {
	margin: 20px 0;
}

.Logo {
	display: none;
}
@media only screen and (max-width: 1400px) {
	.headlines {
		font-size: 1.25vw;
	}
}

@media only screen and (max-width: 1200px) {
	.headlines {
		font-size: 1.4vw;
	}
}

@media only screen and (max-width: 1000px) {
	.headlines {
		font-size: 1.6vw;
	}
}

@media only screen and (max-width: 800px) {
	.headlines {
		font-size: 18px;
		top: 50vh;
		width: 70vw;
	}
}

@media only screen and (max-width: 620px) {
	.headlines {
		top: 28vh;
	}
	.headline2 {
		display: none;
	}
}
@media only screen and (max-width: 400px) {
	.headlines {
		top: 40vh;
		width: 90vw;
	}
	.headline2 {
		display: none;
	}
	.Logo {
		width: 120px;
		height: 120px;
		object-fit: contain;
		margin: 0 30px;
		vertical-align: middle;
		display: inline-block;
	}
}
