.AboutContainer {
	width: 100%;
	max-width: 1450px;
	/* height: 80vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 40px 0;
}

.AboutHeadline {
	text-align: center;
}

.AboutParagraph {
	width: 50%;
	font-size: clamp(0.8rem, 0.715rem + 0.8vw, 1.075rem);
	line-height: 26px;
	text-align: center;
	margin-top: clamp(2.5rem, 1.9048rem + 2.5397vw, 4rem);
}

.innerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	max-width: 1450px;
	height: 60vh;
	margin-top: 30px;
}
.Features {
	width: 50vw;
	height: 60%;
	max-width: 880px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imgContainer {
	width: 40%;
	height: 60%;
}
.img {
	object-fit: scale-down;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 950px) {
	.imgContainer {
		display: none;
	}
	.img {
		display: none;
	}
	.Features {
		margin: 0 20px;
	}
	.AboutParagraph {
		width: 80%;
	}
}
